.catalog{
    &__title{
        padding-bottom: 10px;
        border-bottom: 5px solid $rosa;
        
        h2 {
            font-size: 38px;
            color: $azul;
        }
    }
    .vtex__content-place-holder--banner-catalog{
        img {
            width: 100%;
            height: auto;
        }
    }
    .vtex__search-result {
        margin-top: 20px;
        .searchResultsTime, .compare {
            display: none;
        }
        .sub{
            float: left;
            width: 100%;
            display: none;
        }
        .orderBy {
            float: left;
            width: 50%;
            padding: 15px 0;
        }
        .filterBy {
            float: right;
            width: 50%;
            text-align: right;
            padding: 15px 0;
        }
        .pager{
            display: none;
            clear: both;
            .pages{
                padding: 0;
                text-align: center;
            }
            li {
                display: inline-block;
                vertical-align: top;
                list-style: none;
                padding: 5px 10px;
                color: $rosa;
                border: 1px solid $rosa;
                border-radius: 5px;
                margin: 0 5px;
                &:hover {
                    background: $azul;
                }
            }
        }
    }

    &__filter{
        .menu-navegue{
            display: none;
        }
        .menu-departamento > div {
            display: flex;
            flex-direction: column;
        }
        .search-multiple-navigator{
            order: 2;
            & > h3,
            & > h4,
            .bt-refinar {
                display: none !important;
            }

            fieldset {
                h5 {
                    background: $azul;
                    color: $rosa;
                    padding: 10px;
                    font-size: 24px;
                    margin-top: 20px;
                    &:first-child{
                        margin-top: 0px;
                    }
                }

                label {
                    padding-left: 20px;
                    color: $rosa;
                    font-size: 16px;
                }
                input {
                    margin-right: 10px;
                }
            }
        }
        .search-single-navigator {
            display: block !important;
            order: 1;
            h3 { //title
                background: $azul;
                color: $rosa;
                padding: 10px;
                font-size: 24px;
                margin-top: 20px;
                &:first-child{
                    margin-top: 0px;
                }
            }
            h5,
            h5 + ul,
            h3 + ul{
                display: none !important;
            }
            h4 {
                font-size: 20px;
                padding: 10px;
            }
        }
    }
}

.catalog--search {
    .vtex__search-title {
        .titulo-sessao { display: none; }
        .search-term {
            strong {
                color: $rosa;
            }
        }
    }
}