.vtexdev-shelf {
    ul {
        padding: 0;
    }
    li[layout] {
        list-style: none;
        display: inline-block;
        vertical-align: top;
        margin: 5px 0 15px 1%;
        width: 23.75%;
    }
    &__stock-help {
        &--in {

        }
        &--out {

        }
    }

    &__item{

    }

    &__image {
        border: 5px solid $rosa;
        &-link {
        
        }
        img {
            width: 100%;
            height: auto;
        }
    }

    &__content {
        text-align: center;
        height: 280px;
        position: relative;
        padding-bottom: 90px;
    }

    &__flags {
        padding: 0 10px;
        position: absolute;
        top: -50px;
        right: 0;
        .flag {
            height: 30px;
            width: 30px;
            overflow: hidden;
            vertical-align: top;
            font-size: 0;
            text-indent: -99999px;
            margin: 0 0 0 5px;
            background: $rosa;
            border-radius: 20px;
            display: none;

            &.colecao-teste{
                display: inline-block;
                background: $azul;
            }
            &.teste {
                display: inline-block;
                background: $rosa;
            }
        }
    }
    &__flag {
        &--discount {}
        &--colection {}
    }
    &__name{
        font-size: 24px;
        min-height: 105px;
        display: block;
        padding: 10px 0;
        margin-top: 10px;
    }
        
    &__checkout{
        color: $preto;
        a {
            color: $preto;
        }
    }

    &__price {

    }

    &__list-price {
        span {}
        strong {}
    }

    &__best-price {
    }

    &__installment {
        display: block;
        strong {
            font-size: 22px;
            color: $rosa;
        }
    }

    &__buy-button {
        position: absolute;
        bottom: 0;
        width: 100%;
        a {
            background: $rosa;
            padding: 15px;
            display: block;
            color: $branco;
            margin: 15px 0;
        }
    }

   &__out-of-stock {

   }

   &__stock-help{
       &--out{
            + .vtexdev-shelf__item {
                opacity: .5;
            }
       }
   }
}

@media (max-width: 768px) {
    .vtexdev-shelf {
        li[layout] {
            margin: 5px 0 15px 2%;
            width: 47%;
        }
        &__name {
            font-size: 20px;
        }
        &__installment {
            display: block;
        }
    }
}