.ui-autocomplete{
    padding: 10px 15px 15px;
    width: 600px;
    background: $branco;
    border-bottom: 5px solid $rosa;

    .ui-menu-item {
        list-style: none;
        padding: 5px 0;
        img {
            width: 35px;
            height: 35px;
            margin-right: 20px;
        }
        a {
            cursor: pointer;
            color: $rosa;
        }

        &:nth-child(5) {
            margin-top: 70px;

            &:before {
                content: "Produtos";
                position: absolute;
                margin-top: -50px;
                font-size: 20px;
            }
        }
    }
}