$rosa: #fe3366;
$preto: #000;
$branco: #fff;
$azul: #142032;


a {
  color: $rosa;
  text-decoration: none;
  &:hover{
    color: $rosa;
    text-decoration: underline;
  }
}

@import "header";
@import "search-box";
@import "welcome-message";
@import "main-menu";
@import "main-banner";
@import "main-shelf";