<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:vtex="http://www.vtex.com.br/2009/vtex-common" xmlns:vtex.cmc="http://www.vtex.com.br/2009/vtex-commerce" lang="en-us">

<head>
  <vtex:template id="VTEXDEV-import-head" />
</head>

<body id="catalog">
  <vtex:template id="VTEXDEV-header" />

  <section class="container-fluid">

    <div class="vtex__bread-crumb">
      <vtex.cmc:breadCrumb />
    </div>

    <div class="row">

      <aside class="catalog__sidebar col-12 col-md-3">
        <button class="catalog__filter-show btn d-md-none">Filtros</button>
        <div class="catalog__filter d-none d-md-block">
          <div class="vtex__search-navigator">
            <vtex.cmc:searchNavigator />
          </div>
          <button class="catalog__filter-go btn d-none">Filtrar</button>
        </div>
      </aside>

      <article class="catalog__products col-12 col-md-9">
        <div class="catalog__title">
          <div class="vtex__search-title">
            <vtex.cmc:searchTitle />
          </div>
        </div>

        <div class="catalog__banner">
          <div class="vtex__content-place-holder vtex__content-place-holder--banner-catalog">
            <vtex:contentPlaceHolder id="banner-catalog" />
          </div>
        </div>

        <div id="collections">
          <div class="vtex__search-result">
            <vtex.cmc:searchResult layout="ee1c7862-93d9-4e16-9eb2-a84cd3920cfb" itemCount="12" columnCount="4" />
          </div>
        </div>

      </article>

    </div>

  </section>


  <vtex:template id="VTEXDEV-footer" />
</body>
<script type="text/javascript" src="/arquivos/vtex-smartResearch.js"></script>
<vtex:template id="VTEXDEV-import-scripts" />
</html>