<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:vtex="http://www.vtex.com.br/2009/vtex-common" xmlns:vtex.cmc="http://www.vtex.com.br/2009/vtex-commerce" lang="en-us">

<head>
  <title>VTEX DEV</title>
  <vtex:template id="VTEXDEV-import-head" />
</head>

<body id="home-page">
  <vtex:template id="VTEXDEV-header" />
  <div class="home-banners">
    <div class="vtex__content-place-holder vtex__content-place-holder--bannerHome">
      <vtex:contentPlaceHolder id="bannerHome" />
    </div>
  </div>
  <div class="home-prateleira">
    <div class="vtex__content-place-holder vtex__content-place-holder--prateleiraHome">
      <vtex:contentPlaceHolder id="prateleiraHome" />
    </div>
  </div>
  <vtex:template id="VTEXDEV-footer" />
</body>
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<vtex:template id="VTEXDEV-import-scripts" />

</html>