<footer class="vtexdev-footer">
    <div class="container" >
        <div class="row pb-5 pt-5">
            <div class="col-6">
                <ul>
                    <li>
                        <a href="/contato">Contato</a>
                    </li>
                    <li>
                        <a href="/faq">FAQ</a>
                    </li>
                </ul>
            </div>
            <div class="col-6">
                by <vtex.cmc:vtexdevgit />
            </div>
        </div>
    </div>
</footer>