<header>
    <div class="container-fluid">
        <div class="row text-center text-md-left">
            <div class="col-md-3 p-4">
                <img src="/arquivos/vtex-dev-logo.png" class="logo-loja" />
            </div>
            <div class="col-md-6 p-md-5 p-1">
                <div class="busca">
                    <div class="vtex__full-text-search-box"><vtex.cmc:fullTextSearchBox/></div>
                </div>
            </div>
            <div class="col-md-2 p-md-5">
                <div class="boas-vindas">
                    <div class="vtex__welcome-message"><vtex.cmc:welcomeMessage/></div>
                </div>
            </div>
            <div class="col-md-1 p-md-5">
                <a href="/checkout/#/cart">
                    <i class="fa fa-shopping-cart"></i>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="menu">
                    <div class="vtex__department-links d-md-none"><vtex.cmc:departmentLinks/></div>
                    <div class="vtex__department-navigator d-none d-md-block"><vtex.cmc:departmentNavigator/></div>
                </div>
            </div>
        </div>
    </div>
</header>